<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load bootstrap_themes %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/codehilite.css" %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=OpenSans">
{% bootstrap_styles theme='flatly' type='css' %}
{% block extra_css %}{% endblock %}
{% endcompress %}

<style type="text/css">
body {
    font-family: 'OpenSans', serif;
    font-size: 22px;
}
#mc_embed_signup{background:#000; clear:center; font:14px Helvetica,Arial,sans-serif; }
div.mc-text {color:white;}
#mc-embedded-subscribe {background: #01DFD7 !important;}
#mc-embedded-subscribe:hover {background: #04B4AE !important;}
</style>

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% block navbar_title %}
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% endblock%}
</div>
<div class="navbar-collapse collapse">
    {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
    {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<img src="{% static "media/uploads/mycpptutor_logo.png" %}" alt="Welcome to MyCppTutor!"/>
<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-9 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-3 right">
    {% block right_panel %}
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//timascott.us8.list-manage.com/subscribe/post?u=d98d53ddfb8bfe60e78347596&amp;id=e143b8ce65" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
        <div class="mc-text" align="center">
            <p><h1><b>Don't Fail Your C++ Course!</b></h1></p>
            <h5>
                <p>Failing <i>sucks</i>.</p>
                <p>Let me help you become the smart student that everyone in class hates.</p>
            </h5>
        </div>
        <div class="mc-field-group"><input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="Name"></div>
        <div class="mc-field-group"><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address"></div>
        <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d98d53ddfb8bfe60e78347596_e143b8ce65" tabindex="-1" value=""></div>
    <div class="clear" align="center"><input type="submit" value="Get Free C++ Help" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End Mailchimp Signup Form -->
    {% endblock %}
    {% block lower_right_panel %}{% endblock %}
</div>

</div>
</div>

<footer>
{% page_menu "pages/menus/footer.html" %}
</footer>

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
