{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "C++ Tutor: Find a Tutor or Get C++ Lessons" %}{% endblock %}
{% block meta_description %}{% trans "Get a C++ tutor, or get help through blog posts written to help with your C++ assignments. Let me help you get through your C++ class." %}{% endblock %}
{% block meta_keywords %}{% trans "c++ tutor" %}{% endblock %}
{% block title %}{% trans "Need a C++ tutor?" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<p><iframe class="wistia_embed" src="//fast.wistia.net/embed/iframe/40hiil5bak" name="wistia_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async=""></script></p>
<h3>Need help with a C++ programming assignment?</h3>
<p>C++ can be hard.  There are so many different concepts to learn, and many aren&#8217;t even related to coding!</p>
<ul>
<li>How to solve a problem</li>
<li>How to test that your solution works</li>
<li>Setting up a coding environment (such as Visual Studio, Eclipse, Codeblocks, or others)</li>
<li>C++ syntax</li>
<li>Code concepts</li>
<li>Debugging code</li>
<li>And much more</li>
</ul>
<p>All of those concepts can have several more related items.  For example, let&#8217;s take the code concepts bullet&#8230;</p>
<ul>
<li>if, if-else, if-else if statements</li>
<li>Variable types (int, bool, double, float, char, etc.)</li>
<li>Functions</li>
<li>Loops (while/for)</li>
<li>Classes</li>
<li>Polymorphism</li>
<li>Data structures</li>
<li>And much more</li>
</ul>
<p align="center"><img src="/static/media/uploads/matrix.jpg" alt="A C++ tutor can help you understand confusing code."></p>
<p>When I was in college learning C++, I can remember how frustrating it was to just start programming.  It seemed like magic.  What on earth does all this code do?  Once I finally realized how to build and run the code, how could I make it work?  Why did the stupid compiler keep screaming at me?  Oh my gosh, WHY DOESN&#8217;T THIS WORK???  JUST WORK!!!!  (Several thoughts of chunking the computer out the window crept into my mind.)</p>
<p>There are several things I did to get through the class.  I read sections and chapters of my textbook several times.  I kept working on the C++ assignments in the lab we had&#8230; sometimes for a really long time to make sure I understood what I was doing.  You must understand, learning programming is a step-by-step process.  There will be periods of a lot of frustration followed by those &#8220;eureka!&#8221; moments.  That feeling of finally getting something right is one of the best feelings in the world.</p><div class='mailmunch-forms-in-post-middle' style='display: none !important;'></div>
<p>However, that doesn&#8217;t work for everybody.  Some people need more help, and this is where an online C++ tutor can help.  I can help with all those concepts mentioned above, as well as many more.  I have several years of work experience with C++, and I have also tutored several C++ college students.</p>
<p style="text-align: center;">Here&#8217;s what others have to say about my C++ tutoring:</p>
<table>
<tbody>
<tr>
<td>[testimonials_slider]</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Here&#8217;s how you can use my site (see the tabs at the top or bottom of every page on this site):</p>
<ul>
<li><a href="/get-cpp-tutor/">C++ Tutor</a> tells you about how I can tutor you with your C++ programming assignments.</li>
<li><a href="/cpp-blog/">C++ Blog</a> contains several free blog posts on different C++ topics that may help you.  You can get all these posts in your email by signing up for my email list (at the bottom of most pages).</li>
<li><a href="/cpp-lessons/">C++ Lessons</a> contains lessons to help you understand different C++ topics.</li>
<li><a href="/about-me/">About Me</a> lets you get to know me a little bit better and provides a way to contact me.</li>
</ul>
<h3></h3>
<p>I wish you the best of luck in your C++ programming class.  Please let me know if I can help with a blog post or lesson.</p>
{% endblocktrans %}
{% endblock %}
